.main-content {
    margin-left: 270px;
    padding: 20px;
    flex-grow: 1;
}

body, h1, h2, h3, h4, h5, h6, p, button, input, select, textarea {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #F4F8FF;
}

/* Sidebar */

.sidebar {
    width: 270px !important;
    position: fixed;
    top: 70px;
    left: 0;
    height: 100%;
    background-color: #f8f9fa;
    padding-top: 20px;
    overflow-y: auto;
}

.nav-item .arrow-icon {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    transition: transform 0.3s ease;
}

.nav-item .nav-link[aria-expanded="true"] .arrow-icon {
    transform: rotate(45deg);
}

.nav-item .nav-link {
    background-color: transparent;
    color: #000;
    padding: 10px;
    margin-bottom: -10px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-item .nav-link[aria-expanded="true"] {
    background-color: #4b49ac;
    color: #ffffff;
    border-radius: 8px;
}

.nav-item .nav-link[aria-expanded="true"] .menu-icon,
.nav-item .nav-link[aria-expanded="true"] .arrow-icon {
    filter: brightness(0) invert(1);
}

.nav-item .submenu {
    background-color: #4b49ac;
    padding-left: 20px;
    list-style: none;
    margin-top: -2px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.nav-item .submenu .nav-link {
    color: #ffffff;
    padding: 8px 20px;
    list-style-type: disc;
    margin-left: 30px;
}

.nav-item .nav-link[aria-expanded="true"] + .submenu .nav-link {
    background-color: #4b49ac;
    color: #ffffff;
}

.nav-item .submenu .nav-link:hover {
    background-color: #4b49ac;
    color: #ffffff;
}

.nav-item .nav-link:not([aria-expanded="true"]) {
    background-color: transparent;
    color: #000;
}

.nav-item .submenu .nav-link:not(:hover) {
    background-color: #4b49ac;
    color: #ffffff;
}

.nav-item .nav-link,
.nav-item .submenu .nav-link {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link.submenu-active::before {
    color: yellow !important;
}

.nav-link.submenu-active {
    color: yellow !important;
}

.nav-item .nav-link.active {
    background-color: #4b49ac;
    color: #ffffff !important;
    border-radius: 8px;
}

.nav-item .submenu .nav-link.active {
    background-color: #4b49ac;
    color: yellow !important;
}

.nav-item .submenu .nav-link:not(.active) {
    color: #ffffff;
}

.nav-item .nav-link.active .menu-icon,
.nav-item .nav-link.active .arrow-icon {
    filter: brightness(0) invert(1);
}

.nav-item .submenu .nav-link.active::before {
    color: yellow !important;
}

.nav-item:first-child .menu-title {
    margin-left: -7px;
    display: inline-block;
    vertical-align: middle;
}

.nav-item .menu-title {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

.nav-item .submenu .nav-link.submenu-active {
    color: yellow;
}

/* Dashboard Page */

.dashboard-list {
    margin-bottom: 2px;
}

.dashboard-list .nav-link::before {
    content: "•";
    margin-right: 5px;
    color: #ffffff;
}

.dashboard-list .nav-link {
    padding: 5px 10px;
    font-size: 14px;
    display: block;
}

.dashboard-list .nav-link:not(.submenu-active) {
    color: #ffffff !important;
}

.input-group {
    position: relative;
}

.search-input {
    padding-left: 20px;
    padding-right: 40px;
    height: 40px;
    width: 100%;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.search-icon i {
    font-size: 16px;
    color: #999;
}

/* Inventory Page */

.breadcrumb-text {
    
    font-size: 0.9rem;
    color: #6c757d;
    font-weight: 500;
}

.bullet-separator {
    padding: 0 0.1rem;
    font-weight: normal;
    color: #6c757d;
}